.profilePic {
  width: 50%;
  height: 20%;
}
.round {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.take-photo {
  width: 300px;
  height: 400px;
}
