.containers {
  width: 100%;
  background-image: url(../../../public/6.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main1 {
  width: 100%;
  gap: 7em;
}
.mheader {
  display: flex;
  justify-content: center;
  align-items: center;
}
