@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  font-family: "Poppins";
}
.findInput {
  width: 100%;
  height: 15%;
}
.name {
  background-color: red;
}
.enter {
  width: 75% !important;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 10px 10px 22px rgba(31, 115, 185, 0.22);
}
.enter input {
  outline: none;
  border: none;
}
.press {
  width: 25% !important;
  /* height: 100%; */
}
.press button {
  height: 100%;
  border: none;
  background-color: #43af00;
  border-radius: none !important;
  color: white;
  box-shadow: 10px 10px 22px rgba(1, 94, 175, 0.37);
}
.hold {
  width: 100%;
  height: 100%;
}
.mission {
  width: 100%;
  height: 100%;
}
.capsule {
  width: 100%;
  height: 100%;
  background-color: aqua;
}

/*  Media Queries  */

@media (min-width: 768px) and (max-width: 991.98px) {
  .home {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .mission {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .vision {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 268px) and (max-width: 767px) {
  .home {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .mission {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .vision {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
