.inputContainer {
  background-color: var(--white);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 7px;
}
.input {
  border: none;
  outline: none;
  padding: 12px 7px;
}
.selectContainer {
  border: none;
  outline: none;
  /* padding: 12px 7px; */
  width: 323px;
}
i {
  padding: 7px;
}
.hideContainer {
  display: none;
}

.cross:hover {
  cursor: pointer;
}

.free {
  background-color: rgba(0, 213, 33, 0.4);
}

.cancelFree {
  /* background-color: red; */
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
  position: relative;
  right: 0px;
}

.premium {
  background-color: rgba(247, 173, 0, 0.68);
  padding: 0 7px;
}

.mode {
  justify-content: space-around;
  display: flex;
  align-items: center;
  width: 122px;
  border-radius: 7px;
  color: var(--white);
}
