.inputContainer {
  background-color: var(--white);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 7px;
  width: 25vw;
}
.input {
  border: none;
  outline: none;
  padding: 12px 7px;
}
.selectContainer {
  border: none;
  outline: none;
  width: 223px;
}
i {
  padding: 7px;
}
.hideContainer {
  /* background-color: red; */
  display: block;
}

.cross:hover {
  cursor: pointer;
}

.free {
  background-color: rgba(0, 213, 33, 0.4);
}

.cancelFree {
  /* background-color: red; */
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
  position: relative;
  right: 0px;
}

.premium {
  background-color: rgba(247, 173, 0, 0.68);
  padding: 0 7px;
}

.mode {
  justify-content: space-around;
  display: flex;
  align-items: center;
  width: 122px;
  border-radius: 7px;
  color: var(--white);
}

.showSideMenu {
  display: block;
  /* background-color: #495057; */
  height: 350vh;
  position: fixed;
  width: 140px;
  animation: sup;
  transition: 1s all;
}

.showSideMenu:active {
  background-color: tomato !important;
  height: 20vh;
}
.hideSideMenu {
  display: none;
}

.showSideMenu {
  animation: openMenu 0.4s ease-out forwards;
  display: block;
  background-color: #495057;
  height: 350vh;
  position: fixed;
  width: 240px;
}
.hideSideMenu {
  animation: closeMenu 0.4s ease-out forwards;
}

@keyframes openMenu {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes closeMenu {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-150%);
  }
}

@media (max-width: 500px) {
  .inputContainer {
    display: none;
    padding-right: 2em;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .selectContainer,
  .input {
    width: 323px;
  }
  .menu {
    display: block;
  }
  .headeritleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    width: 100%;
  }
  .hideContainer {
    /* background-color: red; */
    display: block;
    width: 100%;
  }
}

.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
