.container {
  height: 100vh;
  background-color: var(--panel_bckg);
  padding: 7px 12px;
  position: fixed;
  width: 100px;
}

.iconContainer {
  height: 245px;
}

.isActive {
  color: var(--black);
  font-size: 30px;
}

.notActive {
  color: var(--secondary);
}

.logout {
  color: var(--primary);
}

@media (max-width: 477px) {
  .container {
    display: none;
  }
}
