.icon {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 39px;
}
.details span {
  font-weight: 300;
  font-size: 13px;
}
.header {
  background-color: white !important;
}
.badge span {
  background-color: #ffecec;
  width: 60px;
  height: 25px;
  padding-bottom: 3px;
  border-radius: 5px;
  display: flex;
  color: #ff6c6c;
  justify-content: center;
  align-items: center;
}
.text2 {
  color: rgb(140, 140, 140);
  font-size: 10px;
}
