@import "~mdb-ui-kit/css/mdb.min.css";

:root {
  --primary: #005faf;
  --secondary: #b4b4b4;
  --primart_dark_violet: hsl(257, 27%, 26%);
  --black: #000;
  --purple: #842287;
  --yellow: #f7ad00;
  --green: #41a504;
  --red: rgba(167, 18, 18, 0.71);
  --white: #fff;
  --primary-cyan: rgba(0, 95, 176, 0.7);
  --white: #fff;
  --light-pink: #efe3ff;
  --light-blue: #e5fcff;
  --panel_bckg: #e4e4e4;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.containerColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.containerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.containerCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 20px;
}

.icon:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.spinner {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 3px solid white;
  animation: spin 0.7s linear infinite;
  border-bottom-color: rgb(29, 158, 46);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinnerContainer {
  height: 50vh;
  flex: 1;
}
.drop-down02 {
  position: relative;
}
.drop-down02 .sub-menu02 {
  position: absolute !important;
  left: 100%;
  top: 0;
}

.drop-down02 .dropdown-toggle {
  padding: 0.25rem 1.1rem !important;
}

@media screen and (max-width: 767px) {
  .drop-down02 .sub-menu02 {
    position: static !important;
  }
}
