.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.containerColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.containerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  font-size: 25px;
}
