.takeform {
  width: 90%;
  height: 90%;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.holdtake {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
