.notfound {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notimage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1890.98px) {
  .notfound {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .notimage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
