.notfound {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../public/6.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.notimage {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1890.98px) {
  .notfound {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .notimage {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
